.catalog{
    margin-top:0;
}

.catalog ul{
    color: #ebebeb;
}

/*   防止图片太大溢出，影响整体  */
.content{
    overflow: hidden;
}

.content img{
    display: block;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;

    text-align: center;
}

/*    对高度太大的图片的处理   */
.content .soheight{
    height: 400px;
    width: auto;

    text-align: left;
}
