
.navbar-default{
    height: 60px;
    margin-bottom: 0;

    background-color: #fff;
}

 .navbar-default .container{
     /*  让导航栏居中  */
     margin-top:4px;
 }

 /*   修改logo大小   */
 .navbar-default img{
     height: 100%;
 }
 
 /*  导航栏的文字样式   */
 .navbar-default .navbar-nav>li>a{
     color: #949494;
 }
 .navbar-default .navbar-nav>li>a:hover{
     color: #3598db;
 }

.navbar-brand{
    /*   修正框架样式的问题   */
    padding: 0;
}




