
.navbar-default{
    height: 60px;
    margin-bottom: 0;

    background-color: #fff;
}

 .navbar-default .container{
     /*  让导航栏居中  */
     margin-top:4px;
 }

 /*   修改logo大小   */
 .navbar-default img{
     height: 100%;
 }
 
 /*  导航栏的文字样式   */
 .navbar-default .navbar-nav>li>a{
     color: #949494;
 }
 .navbar-default .navbar-nav>li>a:hover{
     color: #3598db;
 }

.navbar-brand{
    /*   修正框架样式的问题   */
    padding: 0;
}

/*    修正手机端navbar的问题    */
.navbar .container{
    /*z-index: 2999!important;*/
}
.navbar-collapse{
    position: relative;
    padding: 0;
    z-index: 3000!important;
}
.navbar-collapse ul{
    /*position: relative;*/

    margin:0;
    text-align: center;
    z-index: 3001!important;
}
.navbar-collapse li{
    background-color: #fff;

    z-index: 3002!important;
}

/*      dropdown的样式     */
.navbar-default li ul{
    position: absolute;

    display: none;
    width: 86px;
    padding-left: 0;

}
.navbar-default li ul li{
    padding: 5px;
}
.navbar-default li ul a{
    color: #949494;
}
.navbar-default li ul a:hover{
    color: #3598db;
    text-decoration: none;
}
.navbar-default li:hover ul,.navbar-default li:focus ul{
    display: block;
}


