section{
    margin: 40px auto;
}

body {
    font-family:  Microsoft Yahei , sans-serif;
}

h1,h2,h3,h4.h5,h6{
    letter-spacing: .1em;
}

h1{
    color: #5e696a;
    font-size: 40px;

    text-align: center;
}

h6{
    color: #5e696a;

    text-align: center;
}

/*   全屏阴影  */
#shadow{
    position: fixed;
    left: 0;
    top:0;

    display: none;
    width: 100%;
    height: 100%;

    background-color: #000000;
    opacity: .6;
    z-index: 5000;
}
/*    手机nav的不可见阴影  */
#phone-shadow{
    position: fixed;
    left: 0;
    top:0;

    display: none;
    width: 100%;
    height: 100%;

    background-color: #000000;
    opacity: 0;
    z-index: 4000;
}

/*   返回顶部  */
#go-top{
    position: fixed;
    bottom: 40px;
    left: 50%;

    display: none;
    margin-left: 600px;
    padding-top: 7px;
    width: 35px;
    height: 35px;

    text-align: center;

    background-color: #1ebc9d;

    z-index: 3999;
    opacity: .4;
    transition: all .4s ease;
}
#go-top:hover{
    opacity: 1;
}
@media (max-width: 1300px) {
    #go-top{
        left: auto;
        right: 20px;
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    #go-top{
        right: 10px;
        bottom: 30px;
    }
    #go-top:hover{
        opacity: .4;
    }
}

#go-top i{
    color: #fff;
    font-size: 20px;
}



