#page30{
    z-index: 30;
}

#page30 .word{
    position: fixed;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page30 p{
    margin-top: 0;
    margin-left: 80px;
}

#page30 p:first-child{
    margin-left: 20px;
}

#page30 p:last-child{
    margin-left: 130px;
}

