#page31{
    z-index: 31;
}

#page31 .word{
    position: fixed;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page31 p{
    text-align: right;
    margin-top: 0;
}

#page31 p:first-child{
    margin-top: 25px;
}

#page31 {
    transform-origin:left center;
    transition: transform 1s ease-in 7s;
    animation: page31 9s linear;
    animation-fill-mode: forwards;
}

#page31 p {
    opacity: 0;
    transition: opacity 2s ease 2s;
}

#page31 p:last-child{
    transition: opacity 2s ease 4s;
}
#page31[class~='active'] {
    transform: rotateY(90deg);
    z-index: 1;
}

#page31[class~='active'] p {
    opacity: 1;
}

@keyframes page31 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

