#page27{
    z-index: 27;
}

#page27 .word{
    position: fixed;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page27 p{
    text-align: right;
    margin-right: 50px;
}