#page31{
    z-index: 31;
}

#page31 .word{
    position: fixed;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page31 p{
    text-align: right;
    margin-top: 0;
}

#page31 p:first-child{
    margin-top: 25px;
}

#page31 {
    animation: page31 8s linear;
    animation-fill-mode: forwards;
}

#page31 p {
    opacity: 0;
    transition: opacity 2s ease 3s;
}

#page31 h2 {
    opacity: 0;
    transition: opacity 2s ease 1s;
}

#page31[class~='active'] {
    z-index: 1;
}

#page31[class~='active'] h2 {
    opacity: 1;
}

#page31[class~='active'] p {
    opacity: 1;
}

@keyframes page31 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

