
#page16 p{
    margin-top: 30px;
    margin-left: 20px;
}

/*    page16的动画效果   */
#page16 {
    animation: page16 8.5s linear;
    animation-fill-mode: forwards;
}
#page16 p {
    opacity: 0;
    transition: opacity 2s ease 4s;
}
#page16 p:first-child{
    transition: opacity 2s ease 2s;
}
#page16 p:last-child{
    transition: opacity 2s ease 5s;
}
#page16[class~='active'] {
    z-index: 1;
}
#page16[class~='active'] p {
    opacity: 1;
}
@keyframes page16 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
