
#page4{
    z-index: 4;
}

#page4 .word{
    /*padding: 20px 15px 0 20px;*/
    padding-right: 30px;

    letter-spacing: .3em;
}

#page4 .word > p:first-child{
    margin-bottom: 50px;
    margin-left:0;
}

#page4 .word  p:first-child{
    opacity: 1;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-height: 480px) {
    #page4 .word > p:first-child{
        margin-top: 0;
        margin-bottom: 10px;
    }
}

#page4 h6{
    margin-bottom: 5px;
}

#page4 p{
    margin-top: 0;
    margin-left: 33px;
    margin-bottom: 10px;
}

#page4 span{
    font-size: 1.4em;
}

#page4 {
    /*transform-origin:left center;*/
    /*transition: transform 1s ease-in 11s;*/
    animation: page4 11s linear;
    animation-fill-mode: forwards;
}

#page4 .word p {
    opacity: 0;
    transition: opacity 2s ease 3s;
}



#page4 .word p:last-child{
    transition: opacity 2s ease 6s;
}

#page4 .word h6{
    opacity: 0;
}


#page4 .word h6:nth-child(2) {
    transition: opacity 2s ease 1.5s;
}

#page4 .word h6:nth-child(4) {
    transition: opacity 2s ease 4.5s;
}

#page4[class~='active'] {
    /*transform: rotateY(90deg);*/
    z-index: 1;
}

#page4[class~='active'] h6 {
    opacity: 1;
}

#page4[class~='active'] p {
    opacity: 1;
}

@keyframes page4 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
