#page32 .word{
    position: fixed;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page32 p{
    text-align: right;
    margin-top: 0;
}

#page32 p:first-child{
    margin-top: 25px;
}

