#page33{
    z-index: 33;
}

#page33 .word{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 5% 4% 10% 4%;

    color: #fff;
    letter-spacing: .5em;

    background: rgba(0,0,0,.5);
}

#page33 {
    animation: page33 8s linear;
    animation-fill-mode: forwards;
}

#page33 p {
    opacity: 0;
    transition: opacity 2s ease 3s;
}

#page33 h2 {
    opacity: 0;
    transition: opacity 2s ease 1s;
}

#page33[class~='active'] {
    z-index: 1;
}

#page33[class~='active'] h2 {
    opacity: 1;
}

#page33[class~='active'] p {
    opacity: 1;
}

@keyframes page33 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}