#page21{
    z-index: 21;
}

#page21 .photo-group{
    width: 90%;
    margin:70px auto 0 auto;
}

#page21 img{
    display: inline-block;
    width: 49%;
}

#page21 {
    animation: page21 8s linear;
    animation-fill-mode: forwards;
}

#page21 p {
    opacity: 0;
    transition: opacity 2s ease 2s;
}

#page21 p:last-child{
    transition: opacity 2s ease 4s;
}

#page21[class~='active'] {
    z-index: 1;
}

#page21[class~='active'] p {
    opacity: 1;
}

@keyframes page21 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}