
#page27 .word{
    position: fixed;
    top:50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%,-50%);
}

#page27 p{
    margin-right: 50px;

    text-align: right;
}

/*    page27的动画效果   */
#page27 {
    animation: page27 4s linear;
    animation-fill-mode: forwards;
}
#page27 p {
    opacity: 0;
    transition: opacity 1s ease 2s;
}
#page27[class~='active'] {
    z-index: 1;
}
#page27[class~='active'] p {
    opacity: 1;
}
@keyframes page27 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
