
#page30 .word{
    position: fixed;
    top:50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%,-50%);
}

#page30 p{
    margin-top: 0;
    margin-left: 80px;
}

#page30 p:first-child{
    margin-left: 20px;
}

#page30 p:last-child{
    margin-left: 130px;
}


/*  page30的动画效果   */
#page30 {
    animation: page30 8s linear;
    animation-fill-mode: forwards;
}
#page30 p {
    opacity: 0;
    transition: opacity 1.5s ease 3.5s;
}
#page30 p:first-child{
    transition: opacity 1.5s ease 2s;
}
#page30 p:last-child{
    transition: opacity 1.5s ease 5s;
}
#page30[class~='active'] {
    z-index: 1;
}
#page30[class~='active'] p {
    opacity: 1;
}
@keyframes page30 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

