#page15{
    z-index: 15;
}

#page15 p{
    margin-top: 40px;
    margin-left: 20px;
}

#page15 {
    animation: page15 14s linear;
    animation-fill-mode: forwards;
}

#page15{
    transition: opacity 2s ease 11s,top 2s ease;
}

#page15 p {
    opacity: 0;
    transition: opacity 2s ease 2s;
}

#page15 p:nth-child(2){
    transition: opacity 2s ease 4s;
}

#page15 p:nth-child(3){
    transition: opacity 2s ease 6s;
}

#page15 p:nth-child(4){
    transition: opacity 2s ease 8s;
}

#page15[class~='active'] {
    z-index: 1;
}

#page15[class~='active'] p {
    opacity: 1;
}

@keyframes page15 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    95%{
        top:0;
    }
    100% {
        opacity: 1;
        top:-100%;
    }
}