#page1 {
    text-align: center;
}

#page1 .word {
    position: relative;
    top: 10px;
}

#page1 p {
    letter-spacing: .5em;
}


/*  page1的动画效果   */
#page1 {
    animation: page1 6s linear;
    animation-fill-mode: forwards;
}
#page1 p {
    opacity: 0;
    transition: opacity 2s ease 2.5s;
}
#page1 h2 {
    opacity: 0;
    transition: opacity 2s ease 1s;
}
#page1[class~='active'] {
    z-index: 1;
}
#page1[class~='active'] h2 {
    opacity: 1;
}
#page1[class~='active'] p {
    opacity: 1;
}
@keyframes page1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
