
#page20 .word{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 5% 15% 10% 15%;

    color: #fff;
    letter-spacing: .5em;

    background: rgba(0,0,0,.5);
}

/*   page20的动画效果    */
#page20 {
    animation: page20 7s linear;
    animation-fill-mode: forwards;
}
#page20 p {
    opacity: 0;
    transition: opacity 1.5s ease 2s;
}
#page20 p:last-child{
    transition: opacity 1.5s ease 3.5s;
}
#page20[class~='active'] {
    z-index: 1;
}
#page20[class~='active'] p {
    opacity: 1;
}
@keyframes page20 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}