
#page3 .word{
    /*padding: 20px 20px 0 30px;*/

    letter-spacing: .3em;
}

#page3 .word > p:first-child{
    margin-bottom: 50px;
}

/*#page3 .word span:last-child{*/
    /*display: inline-block;*/
/*}*/

#page3 .word p span:first-child{
    font-size: 30px;
    letter-spacing: .4em;
}
