
#page24 p{
    margin-top: 30px;
    margin-left: 20px;
}

@media (max-height: 480px) {
    #page24 p{
        margin-top: 10px;
        margin-left: 20px;
    }
}

/*    page24的动画效果   */
#page24 {
    animation: page24 9.5s linear;
    animation-fill-mode: forwards;
}
#page24 p {
    opacity: 0;
    transition: opacity 1.5s ease 1.5s;
}
#page24 p:nth-child(2){
    transition: opacity 1.5s ease 3s;
}
#page24 p:nth-child(3){
    transition: opacity 1.5s ease 4.5s;
}
#page24 p:nth-child(4){
    transition: opacity 1.5s ease 6s;
}
#page24[class~='active'] {
    z-index: 1;
}
#page24[class~='active'] h2 {
    opacity: 1;
}
#page24[class~='active'] p {
    opacity: 1;
}
@keyframes page24 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
