
@keyframes title {
    0% {
        opacity: 0;
    }

    48% {
        opacity: 0;
    }

    52% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes bg {
    0% {
        background-color: #306f99;
    }

    50% {
        background-color: #19470f;
    }

    90% {
        background-color: #734a10;
    }
}


@keyframes blink {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    85% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    95% {
        opacity: 1;
    }


    100% {
        opacity: 0;
    }
}

.body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    font-family: arial;
    background: black;
    color: #eaf7ff;
    z-index: 999;
}

#1 {
    z-index: -1;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -250px;
}

.bg {
    padding: 200px 200px 200px 0;
    background: #306f99;
    animation: bg 1.5s linear infinite;
    box-shadow: inset 0 0 225px 150px black;
}

/*  loading样式   */
.loading {
    position: relative;
    text-align: right;
    text-shadow: 0 0 30px #bce4ff;
    height: 100px;
    width: 750px;
    font-size: 25px;
}

.loading h1 {
    display: block;
    text-transform: uppercase;
    position: absolute;
    width: 1000px;
    line-height: 100px;
    top: 0px;
    right: 190px;
}

.loading h1:after {
    content: "";
    display: block;
    position: absolute;
    top: 28px;
    right: -30px;
    height: 40px;
    width: 20px;
    background: #eaf7ff;
    box-shadow: 0 0 75px #bce4ff;
    animation: blink 3.4s infinite;
}

.loading h1.title {
    animation: title 3.4s linear infinite;
}

.loading h1.text {
    animation: title 3.4s linear 1.7s infinite;
    opacity: 0;
}


/*  console样式   */
#console {
    position: absolute;
    right: 5px;
    top: 5px;

    display: none;
    height: 25px;
    width: 30px;

    z-index: 998;
    opacity: .8;
}

/*  更改console的button样式，使其好看，解决了在ios里的一些问题 */
#console button{
    padding:0 !important;

    border-width: 0 !important;
    border-radius: 1px !important;

    opacity: .5;
}
#console img {
    position: relative;

    height: 100%;
    width: 100%;
}