
#page12 .word{
    position: absolute;
    top:0;

    width: 100%;
    padding: 0;
    text-align: center;
}

#page12 .word p{
    display: inline-block;

    line-height: 3.5em;
    letter-spacing: .4em;
    vertical-align: top;

    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

/*   page12的动画效果   */
#page12 {
    animation: page12 7.5s linear;
    animation-fill-mode: forwards;
}
#page12 p {
    opacity: 0;
    transition: opacity 2s ease 2.7s;
}
#page12 p:last-child{
    transition: opacity 2s ease 1s;
}
#page12[class~='active'] {
    z-index: 1;
}
#page12[class~='active'] p {
    opacity: 1;
}
@keyframes page12 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
