#page18{
    z-index: 18;
}

#page18 p{
    margin-top: 40px;
    margin-left: 20px;
}

#page18 {
    animation: page18 8s linear;
    animation-fill-mode: forwards;
}

#page18 p {
    opacity: 0;
    transition: opacity 2s ease 2s;
}

#page18 p:last-child{
    transition: opacity 2s ease 4s;
}

#page18[class~='active'] {
    z-index: 1;
}

#page18[class~='active'] p {
    opacity: 1;
}

@keyframes page18 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
