#page10{
    z-index: 10;
}

#page10 .word {
    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 50%;
    padding: 0;
    padding-bottom: 50px;
    text-align: center;

    background: rgba(0,0,0,.5);
}

#page10 .word p{
    display: inline-block;

    line-height: 3.5em;
    letter-spacing: .4em;
    vertical-align: top;

    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

#page10 {
    animation: page10 7s linear;
    animation-fill-mode: forwards;
}

#page10 p {
    opacity: 0;
    transition: opacity 2s ease 2s;
}

#page10 p:last-child{
    transition: opacity 2s ease 4s;
}

#page10[class~='active'] {
    z-index: 1;
}


#page10[class~='active'] p {
    opacity: 1;
}

@keyframes page10 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
