#page5{
    z-index: 5;
}

#page5 .word{
    padding: 20px 15px 0 20px;

    letter-spacing: .3em;
}

#page5 p:first-child{
    margin-bottom: 70px;
}

#page5 p{
    margin-bottom: 40px;
}

#page5 p:last-child{
    margin-bottom: 0;
    margin-left: 40px;
}

#page5 p span{
    font-size: 1.7em;
}