
#page8 .word{
    position: absolute;
    top:0;
}

#page8 .word p{
    margin-left: 80px;
    margin-top: 30px;
    letter-spacing: .5em;
}

#page8 .word p:first-child{
    margin-left: 50px;
}

#page8 .word p:last-child{
    margin-left: 120px;
}

/*   page8的动画效果   */
#page8 {
    animation: page8 5.5s linear;
    animation-fill-mode: forwards;
}
#page8 p {
    opacity: 0;
    transition: opacity 1.5s ease 2s;
}
#page8[class~='active'] {
    z-index: 1;
}
#page8[class~='active'] p {
    opacity: 1;
}
@keyframes page8 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
