*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;

    font-family: "Microsoft JhengHei",sans-serif;
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

h2{
    font-size: 29px;
}



.hide{
    display: none;
}


.page{
    width: 100%;
    height: 100%;

    background-color: #1e1e1e;
}

.page .word{
    padding: 20px 15px 0 20px;
}

.full-img{

}

.full-img img{
    /*width: 100%;*/
}

.top-img img{
    width: 100%;
    max-height: 700px;
}

.bottom-img{
    position: absolute;
    bottom: 0;
}

.bottom-img img{
    width: 100%;
}

.inline-p{
    display: block;
    margin-bottom: 20px;
}

.inline-p p{
    display: inline-block;
}

.inline-p p:first-child{
    float: left;

    width: 70px;
    margin:0;

    font-size: 30px;
}

.inline-p p:last-child{
    width: 68%;
}

