#page20{
    z-index: 20;
}

#page20 .word{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 5% 15% 10% 15%;

    color: #fff;
    letter-spacing: .5em;

    background: rgba(0,0,0,.5);
}

#page20 {
    transform-origin:left center;
    transition: transform 1s ease-in 8s;
    animation: page20 10s linear;
    animation-fill-mode: forwards;
}

#page20 p {
    opacity: 0;
    transition: opacity 2s ease 2s;
}

#page20 p:last-child{
    transition: opacity 2s ease 4s;
}


#page20[class~='active'] {
    transform: rotateY(90deg);
    z-index: 1;
}


#page20[class~='active'] p {
    opacity: 1;
}

@keyframes page20 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}