*{
    box-sizing: border-box;
}

/*html{*/
    /*font-size:19px;*/
/*}*/

body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    font-family: "Microsoft JhengHei",sans-serif;
    color: #fff;

    background-color: #1e1e1e;
}

p{
    position: relative;
    margin:0;
    margin-top: 20px;
    /*font-size: 1rem;*/
}

h1,h2,h3,h4,h5,h6{
    position: relative;
    margin:0;
    font-weight: 500;
}

h2{
    font-size: 29px;
    /*font-size: 1.4rem;*/
}

h6{
    font-size: 13px;
    /*font-size: .9rem;*/
}

.hide{
    display: none;
}


.page{
    position: absolute;

    opacity: 0;

    width: 100%;
    height: 100%;

    background-color: #1e1e1e;
}

.page .word{
    padding: 20px 15px 0 20px;
}

@media (min-width: 370px) {
    .page .word{
        padding: 10px 15px 0 20px;
    }
}

.full-img{

}

.full-img img{
    /*width: 100%;*/
}

.middle-img{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.middle-img img{
    width: 100%;
}


.top-img img{
    width: 100%;
    max-height: 590px;
}

.bottom-img{
    position: absolute;
    bottom: 0;
}

.bottom-img img{
    width: 100%;
    max-height: 500px;
}

@media (max-height: 620px) {
    .top-img img{
        max-height: 300px;
    }
    .bottom-img img{
        max-height: 300px;
    }
}

.inline-p{
    display: block;
    margin-bottom: 15px;
}

.inline-p p{
    display: inline-block;
}

.inline-p p:first-child{
    float: left;

    width: 70px;
    margin:0;

    font-size: 30px;
}

.inline-p p:last-child{
    width: 68%;
}

/*临时*/
#test .page{
    z-index: 0;
    animation-play-state: paused;
    opacity: 0;
}

#test .page img{
    opacity: 0;
}

#test .page[class~='active'] img{
    opacity: 1;
}

.top{
    top:-100%;
}

#tip{
    position: fixed;
    display: none;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    z-index: 9998;
}

#tip1{
    position: fixed;
    display: none;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    z-index: 9999;
}


