#page5{
    z-index: 5;
}

#page5 .word{
    /*padding: 20px 15px 0 20px;*/
    padding-right: 30px;

    letter-spacing: .3em;
}

#page5 p:first-child{
    margin-bottom: 70px;
}

@media (max-height: 480px) {
    #page5 .word > p:first-child{
        margin-top: 0;
        margin-bottom: 10px;
    }
}

#page5 p{
    margin-bottom: 40px;
}

#page5 p:last-child{
    margin-bottom: 0;
    margin-left: 40px;
}


#page5 p span{
    font-size: 1.7em;
}


#page5 {
    /*transform-origin:left center;*/
    /*transition: transform 1s ease-in 11s;*/
    animation: page5 5s linear;
    animation-fill-mode: forwards;
}

#page5  p {
    opacity: 0;
    transition: opacity 1.5s ease 1s;
}

#page5  p:first-child{
    opacity: 1;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}

#page5 p:last-child{
    transition: opacity 1.5s ease 2.5s;
}

#page5[class~='active'] {
    /*transform: rotateY(90deg);*/
    z-index: 1;
}


#page5[class~='active'] p {
    opacity: 1;
}

@keyframes page5 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    /*90%{*/
        /*opacity: 1;*/
    /*}*/
    100% {
        opacity: 1;
    }
}
