
#page23 p{
    margin-top: 30px;
    margin-left: 20px;
}

/*   page23的动画效果   */
#page23 {
    animation: page23 8s linear;
    animation-fill-mode: forwards;
}
#page23 p {
    opacity: 0;
    transition: opacity 1.5s ease 3s;
}
#page23 p:first-child{
    transition: opacity 1.5s ease 1.5s;
}
#page23 p:last-child{
    transition: opacity 1.5s ease 4.5s;
}
#page23[class~='active'] {
    z-index: 1;
}
#page23[class~='active'] p {
    opacity: 1;
}
@keyframes page23 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
