#page2{
    z-index: 2;
}

#page2 .word{
    /*padding: 15px;*/

    letter-spacing: .3em;
    line-height: 1.8em;
}

#page2 .right{
    margin-top: 60px;

    font-size: 9px;
    text-align: right;
}

@media (max-height: 483px) {
    #page2 .right{
        margin-top: 10px;
    }
}

#page2 {
    /*transform-origin:left center;*/
    /*transition: transform 1s ease-in 7.5s;*/
    animation: page2 7s linear;
    animation-fill-mode: forwards;
}

#page2 p{
    opacity: 0;
    transition: opacity 1.5s ease 2.5s;
}

#page2 p:last-child{
    transition: opacity 1.5s ease 4s;
}

#page2 h2{
    opacity: 0;
    transition: opacity 1.5s ease 1s;
}

#page2[class~='active']{
    /*transform: rotateY(90deg);*/
    z-index: 1;
}

#page2[class~='active'] h2{
    opacity: 1;
}

#page2[class~='active'] p{
    opacity: 1;
}

@keyframes page2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    /*90%{*/
        /*opacity: 1;*/
    /*}*/
    100% {
        opacity: 1;
    }
}
