#page2{
    z-index: 2;
}

#page2 .word{
    /*padding: 15px;*/

    letter-spacing: .3em;
    line-height: 1.8em;
}

#page2 .right{
    margin-top: 60px;

    font-size: 9px;
    text-align: right;
}

