#page32{
    z-index: 32;
}

#page32 .word{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 5% 15% 10% 15%;

    color: #fff;
    letter-spacing: .5em;

    background: rgba(0,0,0,.5);
}

#page32 p:first-child{
    margin-bottom: 50px;
}

#page32 p{
    margin-top:.5em;
}

#page32 p:last-child{
    margin-bottom: 20px;
}
