#page22{
    z-index: 22;
}

#page22 p{
    margin-top: 40px;
    margin-left: 20px;
}

#page22 {
    animation: page22 11s linear;
    animation-fill-mode: forwards;
}

#page22 p {
    opacity: 0;
    transition: opacity 2s ease 2s;
}

#page22 p:nth-child(2){
    transition: opacity 2s ease 4s;
}

#page22 p:nth-child(3){
    transition: opacity 2s ease 6s;
}

#page22 p:nth-child(4){
    transition: opacity 2s ease 8s;
}

#page22[class~='active'] {
    z-index: 1;
}

#page22[class~='active'] p {
    opacity: 1;
}

@keyframes page22 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
