
#page13 .word {
    position: absolute;
    top: 0;

    width: 100%;
    padding: 0;
    text-align: center;
}

#page13 .word p {
    display: inline-block;

    line-height: 3.5em;
    letter-spacing: .4em;
    vertical-align: top;

    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

/*   page13的动画效果   */
#page13 {
    animation: page13 7s linear;
    animation-fill-mode: forwards;
}
#page13 p {
    opacity: 0;
    transition: opacity 1s ease 2.3s;
}
#page13 p:first-child {
    transition: opacity 1s ease 3.3s;
}
#page13 p:last-child {
    transition: opacity 1s ease 1.5s;
}
#page13[class~='active'] {
    z-index: 1;
}
#page13[class~='active'] p {
    opacity: 1;
}
@keyframes page13 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}