#page29{
    z-index: 29;
}

#page29 .word{
    position: fixed;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page29 p{
    text-align: right;
    margin-right: 50px;
}

#page29 {
    animation: page29 8s linear;
    animation-fill-mode: forwards;
}

#page29 p {
    opacity: 0;
    transition: opacity 2s ease 3s;
}

#page29 h2 {
    opacity: 0;
    transition: opacity 2s ease 1s;
}

#page29[class~='active'] {
    z-index: 1;
}

#page29[class~='active'] h2 {
    opacity: 1;
}

#page29[class~='active'] p {
    opacity: 1;
}

@keyframes page29 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
