#page16{
    /*top: 100%;*/
    z-index: 16;
}

#page16 p{
    margin-top: 30px;
    margin-left: 20px;
}

#page16 {
    /*transform-origin:left center;*/
    /*transition: transform 1s ease-in 8s;*/
    animation: page16 8s linear;
    animation-fill-mode: forwards;
}

#page16 p {
    opacity: 0;
    transition: opacity 2s ease 4s;
}

#page16 p:first-child{
    transition: opacity 2s ease 2s;
}

#page16 p:last-child{
    transition: opacity 2s ease 6s;
}

#page16[class~='active'] {
    /*transform: rotateY(90deg);*/
    z-index: 1;
}

#page16[class~='active'] p {
    opacity: 1;
}

@keyframes page16 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    /*95%{*/
        /*top:0;*/
    /*}*/
    100% {
        opacity: 1;
        /*top:-100%;*/
    }
}
