#page7 {
    z-index: 7;
}

#page7 .top-img{
    background-color: rgba(0,0,0,.5);
}

#page7 img{
    position: relative;
    z-index: -1;
}

#page7 .word {
    position: absolute;
    bottom: 75px;
}

#page7 p{
    margin-top: 7px;
}
