#page14{
    z-index: 14;
    background: #000;
}

#page14 .word {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 0;
    padding-bottom: 50px;
    text-align: center;

    background: rgb(0,0,0);
}

#page14 .word p{
    display: inline-block;

    line-height: 3.5em;
    letter-spacing: .4em;
    vertical-align: top;

    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

#page14 {
    transform-origin:left center;
    transition: transform 1s ease-in 11s;
    animation: page14 13s linear;
    animation-fill-mode: forwards;
}

#page14 p {
    opacity: 0;
    transition: opacity 2s ease 7.5s;
}

#page14 p:nth-child(2){
    transition: opacity 2s ease 5.5s;
}

#page14 p:nth-child(3){
    transition: opacity 2s ease 3.5s;
}

#page14 p:nth-child(4){
    transition: opacity 2s ease 2s;
}

#page14[class~='active'] {
    z-index: 1;
    transform: rotateY(90deg);
}

#page14[class~='active'] p {
    opacity: 1;
}

@keyframes page14 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
