#page25{
    z-index: 25;
}

#page25 .word{
    position: fixed;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page25 h2{
    margin-left: 20px;
}

#page25 p{
    text-align: right;
    margin:0;
    margin-right: 50px;
}

#page25 {
    animation: page25 5s linear;
    animation-fill-mode: forwards;
}

#page25 h2 {
    opacity: 0;
    transition: opacity 2s ease 2s;
}

#page25 p{
    opacity: 0;
    transition: opacity 2s ease 3s;
}

#page25[class~='active'] {
    z-index: 1;
}

#page25[class~='active'] h2 {
    opacity: 1;
}

#page25[class~='active'] p {
    opacity: 1;
}

@keyframes page25 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
