#page34{
    z-index: 34;
}

#page34 .word{
    position: absolute;
    bottom: 50px;
    letter-spacing: 1em;
    width: 100%;
    text-align: center;
}

#page34 {
    animation: page34 8s linear;
    animation-fill-mode: forwards;
}

#page34 p {
    opacity: 0;
    transition: opacity 2s ease 3s;
}

#page34 h2 {
    opacity: 0;
    transition: opacity 2s ease 1s;
}

#page34[class~='active'] {
    z-index: 1;
}

#page34[class~='active'] h2 {
    opacity: 1;
}

#page34[class~='active'] p {
    opacity: 1;
}

@keyframes page34 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}