
#page11 .word {
    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 50%;
    padding: 0;
    padding-bottom: 50px;
    text-align: center;

    background: rgba(0,0,0,.5);
}

#page11 .word p{
    display: inline-block;

    line-height: 3.5em;
    letter-spacing: .4em;
    vertical-align: top;

    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

/*   page11的动画效果   */
#page11 {
    animation: page11 6s linear;
    animation-fill-mode: forwards;
}
#page11 p {
    opacity: 0;
    transition: opacity 1.5s ease 1.5s;
}
#page11[class~='active'] {
    z-index: 1;
}
#page11[class~='active'] p {
    opacity: 1;
}
@keyframes page11 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
