#page19{
    z-index: 19;
}

#page19 p{
    margin-top: 30px;
    margin-left: 20px;
}

#page19 {
    transform-origin:left center;
    transition: transform 1s ease-in 5s;
    animation: page19 7s linear;
    animation-fill-mode: forwards;
}

#page19 p {
    opacity: 0;
    transition: opacity 2s ease 2s;
}


#page19[class~='active'] {
    transform: rotateY(90deg);
    z-index: 1;
}


#page19[class~='active'] p {
    opacity: 1;
}

@keyframes page19 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
